@import "tailwindcss";

:root {
  color-scheme: dark;
}

html,
body,
#__next {
  height: 100%;
}

body {
  @apply bg-white text-neutral-100;
}



   /* one–second cross-fade between pages */
   ::view-transition-old(root),
   ::view-transition-new(root) {
     animation: fade 0.5s ease-in-out both;
   }

   @keyframes fade {
     from { transform: translateY(20px); opacity: 0.8; scale: 0.9; }
     to   { transform: translateY(0); opacity: 1; scale: 1; }
   }
