.SubForm {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 10%;
    background-color: white;
    align-items: center;
}
.SubForm input{
    outline: none;
    border: 1px solid #8c8c8c;
    border-radius: 2px;
    font-size: 16px;
    width: 31%;
    min-width: 13rem;
    padding: 1.4% 0;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    padding-left: 1rem;
}
.SubForm input::placeholder{
    font-size: clamp(0.7rem,3vw,0.8rem);
}
.SubForm input:focus::placeholder{
    transform: translate(-.10%, -105%);
    transition: all 0.2s ease-out;
    font-size: clamp(0.6rem,3vw,0.7rem);
}

.SubForm button{
    position: absolute;
    top: 150%;
    width: 33%;
    min-width: 14.3rem;
    font-size: 1.5rem;
    color: white;
    padding: 1.2% 0;
    background-color: #e50914;
    border-radius: 4px;
    border: none;
}
.SubForm button:hover{
    cursor: pointer;
    background-color: #c20912;
}
.errorSignup{
    top: 100%;
    font-size: clamp(0.7rem,3vw,1rem);
    color: #c20912;
    position: absolute;
}