.Header{
    height: auto;
}
a{
    text-decoration: none;
}
.logo{
    position: absolute;
    top:1%;
    left: 2.4%;
    max-width: 15%;
    max-height: 15%;
   min-width: 8rem;
   min-height: 3rem;
}
.signUpBtn{
    color: white;
    position: absolute;
    top:4%;
    right: 4.6%;
    padding: 0.5% 1.5%;
    border-radius: 4px;
    background-color: #e50914;
    font-size: 1rem;
    font-weight: 400;
}.signUpBtn:hover{
    background-color: #d3040f;
}
