.movieScrolls{
    margin-left: 1rem;
    margin-top: -0.5rem;
}
.movieScrolls h3{
    font-size: clamp(1rem,3vw,1.3rem);
}
.scrolly{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 1rem;
    padding-right: 1rem;
}
.scrolly2{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 1rem;
    padding-right: 1rem;
}
.scrolly::-webkit-scrollbar{
    display: none;
}
.scrolly2::-webkit-scrollbar{
    display: none;
}
