.netflixOrginals{
    height: 35rem;
    position: relative;
    z-index: 1;
    margin-top: 2.3rem;
}
.netflixOrginals h3{
    display: inline;
    position: relative;
    top: 4.6rem;
    left: 1.2rem;
    font-size: clamp(1rem,3vw,1.3rem);
}
.bgOrginals{
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .3;
    background-position: center;
    background-size: 120%;
}
.scrollsOrginals{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 1rem;
    padding-right: 1rem;
}
.scrollsOrginals::-webkit-scrollbar{
    display: none;
}
@media (max-width:600px) {
    .bgOrginals{
      display: none;
    }
    .netflixOrginals{
        height: fit-content;
        margin-top: 0rem;
        margin-bottom: 3rem;
    }
}