.subHeader{
    height: auto;
    border-bottom: 1px solid #e6e6e6;
}
.subHeaderlogo{
    width: 16%;
    min-width: 9rem;
    margin-left: 2%;
}
.subsignUpBtn{
    margin-right: 4%;
    color: #333;
    float: right;
    font-size: clamp(16px,3vw,19px);
    font-weight: 700;
    margin-top: 1.6rem;
}
.subsignUpBtn:hover{
    text-decoration: underline;
}