.fixedHeader{
    height: auto;
    position: fixed;
    display: flex;
    z-index: 2;
    width: 100%;
    background-color: black;
    overflow: hidden;
    transition: 0.3s;
}
.homeHeaderHome{
    height: auto;
    position: absolute;
    display: flex;
    z-index: 2;
    top: 0;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
}
.homelogo{
    position: relative;
    left: 2%;
    max-width: 15%;
    max-height: 5rem;
   min-width: 8rem;
   min-height: 5rem;
    z-index: 2;
}
.headerList{
    position: relative;
    top: 0.9rem;
    display: flex;
    z-index: 2;
    width: 100%;
    margin-left: -1%;
}
.navLinks{
    width: 46%;
}
.headerList li{
    list-style: none;
    margin-left: 9%;
}
.links{
    color: #e4e0e0;
    font-size: 1.1rem;
}
.activeLink{
    font-weight: 700;
    font-size: 1.2rem;
    color: #ffffff;
}

.searchMain{
    display: flex;
    position: absolute;
    right: 5%;
    top: 1.8rem;
    height: 1.8rem;
}
.searchDiv{
    width: auto;
    height: inherit;
    visibility: hidden;
}
.searchInput{
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: white;
    height: inherit;
    width: 0;
    transition:all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    visibility: hidden;
}
.searchBtnHome{
    font-size: 1rem;
    outline: none;
    height: inherit;
    color: white;
    background: transparent;
    border: none;
    border-left: 1px solid white;
    cursor: pointer;
}
.searchBtnHome:hover{
    background-color:white;
    color: black;
}
.searchIcon{
    margin-top: 0.1rem;
    padding: 0.3rem;
    cursor: pointer;
}
.searchIcon:hover{
    font-size: 1.2rem;
}
#searchActive1{
    visibility: visible;
    border: 1px solid white;
}
#searchActive2{
    visibility: visible;
}
#searchActive3{
    visibility: visible;
    width: 13rem;
}
.logOutDiv{
    position: absolute;
    right: 0;
    top: 1.8rem;
    text-align: end;
    margin-right: 2%;
}
.logOut{
    z-index: 2;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.2rem 0.3rem;
    background-color: #e9e4e4;
    border-radius: 3px;
    border: none;
    outline: none;
}
.logOut:hover{
    background-color: rgb(158, 154, 154);
}
.logOutScreen{
    position: absolute;
    top: 4.6rem;
    right: 2%;
    width: 10rem;
    height: 10rem;
    background-color: rgb(24, 22, 22);
    border-radius: 10px;
    border: #a09d9d solid 1px;
    text-align: center;
    overflow: hidden;
    z-index: 10;
}
.logOutScreen .confirmLogout{
    padding: 0.2rem 0.4rem;
    background-color: #bab6b6;
    color: black;
    border-radius: 4px;
    font-weight: 600;
}
.logOutScreen p{
    margin-top: 2rem;
}
.confirmLogout:hover{
    background-color: #827e7e;
}
.hamBurger{
    display: none;
    position: absolute;
    right: 2%;
    top: 2.3rem;
    font-size: 1.5rem;
}
@media (max-width:900px) {
    .fixedHeader{
        height: 18rem;
        z-index: 3;
    }
    .homeHeaderHome{
        height: 0;
        z-index: 3;
    }
    .hamBurger{
        display: block;
    }
    .navLinks{
        position: absolute;
        text-align: center;
        width: 100%;
        display: block;
    }
    .headerList{
        display: inline;
        top: 5rem;
        text-align: center;
        width: 100%;
    }
    
    .headerList li{
        padding-top: 1rem;
        width: 100%;
        margin-left: 0;
    }
    .headerList li:hover{
        text-decoration: underline;
    }
    .searchMain{
        top: 4.3rem;
        margin-right: 0.5rem;
    } 
    .logOutScreen{
        top:6rem;
    }
    .logOutDiv{
        margin-right: 0;
        width: 100%;
        position: absolute;
        top: 16rem;
        text-align: center;
    }
    .logOutScreen{
        z-index: 10;
    }
}
@media (max-width:400px) {
    #searchActive3{
        width: 8rem;
    }
    
}
@media (max-width:700px) {
    .homeHeaderHome{
        position: relative;
        background-color: black;
    }
}